.staffNav{
    border-bottom: 1px solid grey;
    height: 100%;
}
.input-group-text{
    padding-right: 6px;
    text-align: center;
}
.staff_page{
    height: 100%;
}
.staff_table{
    list-style: none;
    padding: 0;
    margin: 0;
}
.staff_table li{
    font-size: 20px;
    background: rgb(247, 245, 245);
}
.staff_table li:nth-child(even){
    background: rgb(226, 224, 224);
}
.staff_list{
    padding: 10px 5px;
    font-size: 16px;
    border-right: 1px solid rgb(202, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_staff_shift{
    border: none;
    background: rgb(230, 175, 26);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.staff_icon{
    cursor: pointer;
    margin-right: 0 !important;
}
.staff_info_list{
    border:1px solid; 
    padding:0;
    margin-bottom: 0;
}
.staff_info_list li{
    height:auto; 
    border-bottom:1px solid;
    user-select: none;
}
.staff_info_list li:last-child{
    border-bottom:none;
}